<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="About Number Tennis">
  <ion-content padding="true">
    <img src="img/ionic.png" class="ionic-logo">
    <p>
      This is a simple arithmetic game developed to improve mental arithmetic.
    </p>
    <p>
      Find a bug? Create an 
      <a href="https://github.com/levexis/number-tennis/issues?state=open" target="_blank">issue</a>.
    </p>
    <p>
      What to help improve Number Tennis?
      <a href="https://github.com/levexis/number-tennis/" target="_blank">Github</a>.
    </p>
    <p>
      MIT Licensed. Happy coding.
    </p>
  </ion-content>
</ion-view>
