<ion-view title="Single Player"  style="height: 100%">
  <ion-content has-tabs="true" has-header="true" padding="true">
      <p style="text-align:center; padding:20px;">Select game type to begin</p>
      <a class="button button-block button-stable icon-right ion-chevron-right" href="#/tab/play/add">Addition</a>
      <a class="button button-block button-stable icon-right ion-chevron-right" href="#/tab/play/subtract">Subtraction</a>
      <a class="button button-block button-stable icon-right ion-chevron-right" href="#/tab/play/multiply">Multiplication</a>
      <a class="button button-block button-stable icon-right ion-chevron-right" href="#/tab/play/divide">Division</a>
  </ion-content>
</ion-view>
