<ion-view title="Scores">
  <ion-content has-tabs="true" has-header="true" padding="true">
     <div class="button-bar ">
          <a class="button button-stable" style="border-bottom: 0px;">Me</a>
          <a class="button button-light"></a>
     </div>
     <div class="row bar-header item-divider" ng-show="scores.length">
         <div class="col">When</div>
         <div class="col">What</div>
         <div class="col">Game</div>
         <div class="col">Result</div>
         <div class="col">Won</div>
     </div>
     <div class="row" ng-repeat="score in scores | orderBy:'when':true | limitTo:25">
        <div class="col">{{score.when | date:'d MMM, H:mm'}}</div>
        <div class="col">{{score.what}}</div>
        <div class="col">{{score.difficulty}}</div>
        <div class="col">{{score.won}} / {{score.points}}</div>
        <div class="col">{{score.won *100 / score.points}}%</div>
    </div>
  </ion-content>
</ion-view>
